aws-lambda-powertools
attrs==21.4.0
aws-xray-sdk==2.9.0
boto3==1.24.6
botocore==1.27.6
fastjsonschema==2.15.3
future==0.18.2
greenlet==1.1.2
jmespath==0.10.0
PyMySQL==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-json-logger==2.0.2
s3transfer==0.6.0
six==1.16.0
SQLAlchemy==1.4.37
urllib3==1.26.9
wrapt==1.14.1
pytest==7.1.2